* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.header {
  height: 100%;
  width: 100%;
  background: rgba(249, 209, 4, 0.93);
}

.header-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 44px;
  letter-spacing: 0.08em;
  color: #000000;
  margin-left: 45px;
  margin-right: 45px;
}

.active {
  background-color: black;
  color: rgba(249, 209, 4, 0.93);
}

.active a {
  color: rgba(249, 209, 4, 0.93);
}

.header-group {
  width: 95%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top, .header-bottom {
  width: 50%;
  height: 90%;
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header-title p {
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: #000000;
}

.logo-title {
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 73px;
  letter-spacing: 0.1em;
  color: #000000;
}

.header-social {
  width: 20%;
  position: absolute;
  left: 45px;
  bottom: 60px;
}

.follow {
  font-family: Anton;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 44px;
  letter-spacing: 0.155em;
  text-transform: capitalize;
  color: #000000;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-dumbbell {
  position: absolute;
  left: 0px;
}

.header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-frame {
  width: 490px;
  height: 537px;
  border: 30px solid;
  border-radius: 50%;
  position: relative;
}

.model {
  width: 698px;
  height: 533px;
  position: absolute;
  bottom: 35px;
  left: -120px;
}

.patch {
  position: absolute;
  bottom: -3px;
  left: 83px;
}
/*******************about*****************/
.about-container{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.about-group{
  width: 95%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-top,.about-bottom{
  width: 50%;
  height: 90%;
}
.about-top{
  display: flex;
  justify-content: center;
  align-items: center;

}
.model2{
  position: absolute;
  width: 618px;
  height: 442px;
  left: -65px;
}
.about-bottom{

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-title{
  width: 85%;
  z-index: 100;
}
.about-title p:nth-child(1){
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 73px;
letter-spacing: 0.08em;

color: #000000;
}
.about-des{
  width: 70%;
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 37px;

color: #000000;
}
.frame{
  left: 95px;
  position: absolute;
  width: 656px;
  height: 407px;
  border: 10px solid rgba(249, 209, 4, 0.93);

}
/**********************training***************/
.traning{
  width: 100%;
  height: 100%;
  background: #F9D104;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
}
.waterMark{
  position: absolute;
  display: none;
}
.one{
  width: 740.06px;
height: 603.71px;
left: -205px;
top: 159.2px;
}
.two{
  left: -10.35%;
  right: 58.95%;
  top: 69.45%;
  bottom: -28.41%;
}
.three{
  left: 46.25%;
right: 2.36%;
top: 29.41%;
bottom: 11.63%;
}
.four{
  width: 632.83px;
height: 567.05px;
left: 749px;
top: 783.42px;
}
.training-container{
  width: 80%;
  height: 95%;


}
.training-top,.training-bottom{
  width: 100%;
  height: 50%;
}
.training-top{

  display: flex;
  justify-content: space-around;
  align-items: center;

}
.training-bottom{

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card{
  width: 200px;
  height: 320px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
position: relative;
}
.card img{
  width: 200px;
  height: 320px;
}
.card-tag{
  left: 15px;

  width: 170px;
  height: 50px;
  background-color: black;
  position: absolute;
  bottom: 5px;
}
.card-tag h3{
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 59px;
text-align: center;
text-transform: uppercase;

color: #F9D104;

}
/*****************************dietPlan**********************/

.dietPlan{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}
.dietPlan-container{
  width: 95%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.dietPlan-left,.dietPlan-right{
  width: 50%;
  height: 100%;

}
.dietPlan-left{

  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dietPlan-title{
  width: 85%;
  z-index: 100;
}
.dietPlan-title p:nth-child(1){
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 73px;
letter-spacing: 0.08em;

color: #000000;
}
.dietPlan-des{
  width: 70%;
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 37px;

color: #000000;
}
.dietPlan-right{

  display: flex;
  justify-content: center;
  align-items: center;
}
.food-img{
  width: 600px;
  height: 600px;

}
.food-img img{
  width: 100%;
  height: 100%
}
/************join****************/
.join{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F9D104;
}
.join-container{
  width: 95%;
  height: 95%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.join-left,.join-right{
  width: 50%;
  height: 100%;
}
.join-right{

  border: 10px solid rgba(0, 0, 0, 0.48);
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.price-tag{
  width: 350px;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.price-tag p{
  font-family: Anton;
font-style: normal;
font-weight: normal;



color: #F9D104;
}
.price{
  font-size: 55px;
  line-height: 81px;
  letter-spacing: 0.08em;
}
.price span{
  font-size: 30px;
line-height: 44px;
letter-spacing: 0.08em;
}
.month{
  font-size: 35px;
  line-height: 51px;
  letter-spacing: 0.08em;
}
.offer{
  background: #F9D104;
border: 8px solid #000000;
}
.offer p{
  color:black;
}
.join-left{
  display: flex;
  justify-content: center;
  align-items:center;
}
.join-form-container{
  width: 70%;
  height: 90%;

}
.join-form{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.joinfield{
  width: 100%;
  height: 80px;
  background: #F9D104;
border: 5px solid #000000;
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 51px;
letter-spacing: 0.08em;

text-transform: uppercase;

}
.joinBtn{
  width: 30%;
  height: 80px;
  background:#000000 ;
border: 5px solid #F9D104 ;
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 51px;
letter-spacing: 0.08em;
color:#F9D104;
text-transform: uppercase;
align-self: flex-start;
}
/************trainer***************/
.trainer{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trainer-container{
  width: 95%;
  height: 95%;

}
.trainer-top{
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title-container{
  width: 95%;

}
.trainer-top p:nth-child(1){
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 73px;
letter-spacing: 0.08em;

color: #000000;
}
.trainer-top p:nth-child(2){
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 37px;

color: #000000;
}
.trainer-bottom{
  height: 75%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.trainer-gallery{
  width: 95%;
  height: 90%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 8px solid #F9D104;
}
.trainer-card{
  width: 250px;
  height: 420px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
position: relative;

}
.trainer-card img{
  width: 100%;
  height: 100%;
}
/*******************contact*******************/
.contact{
  width: 100%;
  height: 100%;

}
.contact-container{
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-group{
  width: 95%;
  height: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  width: 100%;
  height: 20%;
  background-color: black;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.contact-left,.contact-right{
  width: 50%;
  height: 100%;

}
.contact-left{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

}
.contact-right{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.address{
  width: 80%;
  display: flex;
  justify-content:space-around;
  flex-direction: column;
}
.address h3{
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 51px;
letter-spacing: 0.08em;

color: #000000;
text-transform: capitalize;
margin-bottom: 30px;
}
.address p{
  width: 40%;
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 41px;
letter-spacing: 0.08em;

color: #000000;

}
.contact-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.field{
  width: 70%;
  height: 70px;
  background: #F9D104;
border: 8px solid #000000;
box-sizing: border-box;
}
.contactbtn{
  width: 30%;
  height: 70px;
  background: #000000;
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 51px;
letter-spacing: 0.08em;

color: #F9D104;
text-transform: uppercase;
}
.footer p{
  font-family: Anton;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 34px;
letter-spacing: 0.155em;

color: #F9D104;

}
.icons2{
display: flex;
justify-content: center;
align-items: center;
}
.icons2 div{


  margin-left: 15px;
  margin-right: 15px;
}
